<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{% render "@partial-head" with {
			_target: _target
		} %}
	</head>

	<body class="
												preload no-js fs-grid
												theme-{{ _target.context.page.theme|default('default') }}
												{% for class in _target.context.page.classes %} body_{{class }}{% endfor %}
											">

		<div class="visually_hide">
			{{ svg_icons() }}
		</div>

		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
			{% if page.alert %}
				<!-- WordPress / Drupal, use AlertURL to target the script that returns this content. For BigTree, enter the alert markup here. -->
				<script>
					var AlertURL = "/static-html/alert.html";
				</script>
			{% endif %}
		</div>

		{{ init_uniqid() }}

		{% block content %}
			<div style="padding: 2rem">
				{{ yield }}
			</div>
		{% endblock %}

		<script>
			var WWW_ROOT = "";
var STATIC_ROOT = "/";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

		{% block footer_scripts_above %}
			{#  #}
		{% endblock %}

		<script src="{{ '/js/site.js'|path }}"></script>

		{% block footer_scripts_below %}
			{#  #}
		{% endblock %}

		{% if page.scripts %}
			{% for script in page.scripts %}
				<script src="{{ script }}"></script>
			{% endfor %}
		{% endif %}
	</body>
</html>
