<div class="featured_programs">
	<div class="featured_programs_inner">
		<div class="featured_programs_header">
			{% render "@partial-background" with {
				class: "featured_programs_header",
				image: image,
				sources: {
					'0px': img("portraitClassic").sml,
					'500px': img("classic").med,
					'740px': img("portraitClassic").lrg,
					'1220px': img("full").xlrg
				}
			} %}
			<h2 class="featured_programs_title">
				<span class="featured_programs_title_group featured_programs_title_group_primary">
					<span class="featured_programs_title_label featured_programs_title_label_primary">{{ title.primary }}</span>
				</span>
				<span class="featured_programs_title_group featured_programs_title_group_secondary">
					<span class="featured_programs_title_label featured_programs_title_label_secondary">{{ title.secondary }}</span>
				</span>
			</h2>
			<div class="featured_programs_input_wrapper">
				<input class="featured_programs_input" id="featured_programs_input" type="search" placeholder="Search our Programs & Majors" aria-label="Search our Programs">
				<span class="featured_programs_input_icon">{{ icon("search") }}</span>
			</div>
		</div>
		<div class="featured_programs_content">
			<div class="feature_programs_body">
				<div class="featured_programs_body_details">
					<h3 class="featured_programs_body_title"><strong>60+</strong> Majors in…</h3>
				</div>
				<ul class="featured_programs_items">
					{% for item in items %}
						<li class="featured_programs_item">
							{% render '@partial-link' with {
								title: item.label,
								url: "#",
								class: "featured_programs_item",
								icon: "caret_right"
							} %}
						</li>
					{% endfor %}
				</ul>
				<div class="featured_programs_items_select_wrapper">
					<select class="featured_programs_items_select">
						<option>Discover an Area of Interest</option>
						{% for item in items %}
						<option>{{ item.label }}</option>
						{% endfor %}
					</select>
					<span class="featured_programs_items_select_icon">{{ icon("caret_down") }}</span>
				</div>
			</div>
			<div class="feature_programs_footer">
				<div class="featured_programs_footer_details">
					<h4 class="featured_programs_footer_title">Next Up</h4>
				</div>
				<ul class="featured_programs_actions">
					{% for action in actions %}
						<li class="featured_programs_action">
							{% render '@partial-link' with {
								title: action.label,
								url: "#",
								class: "featured_programs_action",
								icon: "caret_right"
							} %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
