<span class="lazy_image_wrapper {{ class }}_image_wrapper">
	<img class="js-lazy js-lazyload {{ class }}_image" {% if sources|length > 1 %} data-sizes="auto" {% endif %} src="/images/placeholder.png" data-src="https://images.fastspot.com/{{ config(" images") }}/{{ sources|last.width }}x{{ sources|last.height }}/{{ image }}" {% if sources|length > 1 %} data-srcset="{% for source in sources|reverse %}//images.fastspot.com/{{ config("images") }}/{{ source.width }}x{{ source.height }}/{{ image }} {{ source.width }}w{% if not loop.last %}, {% endif %}{% endfor %}" {% endif %} alt="{{ alt }}">
</span>
<noscript>
	<img class="{{ class }}_image" src="https://images.fastspot.com/{{ config(" images") }}/{{ sources|last.width }}x{{ sources|last.height }}/{{ image }}" {% if sources|length > 1 %} srcset="{% for source in sources|reverse %}//images.fastspot.com/{{ config("images") }}/{{ source.width }}x{{ source.height }}/{{ image }} {{ source.width }}w{% if not loop.last %}, {% endif %}{% endfor %}" sizes="100vw" {% endif %} alt="{{ alt }}" {% if itemprop %} itemprop="{{ itemprop }}" {% endif %}>
</noscript>
