{% set id = uniqid("js-program-item") %}
{% set group_id = uniqid("program-group") %}

<div class="js-accordion program_list">
	<div class="program_list_inner">
		<ul class="program_list_items" id="item_list" aria-label="{{ page.title }}">
			{% for item in items %}
				<li class="js-accordion-item {{ id }}-{{ loop.index }} program_item">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="program_item_inner">
								<h2 class="program_item_heading">
									<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".{{ id }}-{{ loop.index }}" {% if grouped == true %} data-swap-group="{{ group_id }}" {% endif %}>
										<span class="program_item_heading_inner">
											<span class="program_item_heading_label">
												<span class="program_item_heading_title">
													<span class="program_item_heading_title_label">{{ item.title }}</span>
													<span class="program_item_heading_title_icon">{{ icon("caret_right") }}</span>
												</span>
												<span class="program_item_heading_mode">
													<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>
													</span>
													<span class="program_item_heading_mode_data_wrapper">
														{% for item in item.type %}
														<span class="program_item_heading_mode_data{% if item == 'Transfer Program' %} theme_green_blue{% else %} theme_mustard{% endif %}">
															{{ item }}
														</span>
														{% endfor %}
													</span>
												</span>
											</span>
											<span class="program_item_heading_icon"></span>
										</span>
									</button>
								</h2>
								<div class="js-accordion-content program_item_content" aria-label="{{ item.title }}">
									<div class="program_item_content_inner">
										<div class="program_item_content_group">
											<div class="program_item_description typography">
												<p>{{ item.description }}</p>
											</div>
										</div>
										<div class="program_item_details">
											{% if item.certificate %}
												<div class="program_item_detail">
													<span class="program_item_detail_label">Degree & Certificate Type<span class="program_item_detail_label_hint">:</span>
													</span>
													<span class="program_item_detail_data">
														{% for item in item.certificate %}
															<a class="program_item_detail_data_link" href="{{ item }}">
																<span class="program_item_detail_data_link_label">{{ item }}</span>
																<span class="program_item_detail_data_link_icon">{{ icon("caret_right") }}</span>
															</a>
														{% endfor %}
													</span>
												</div>
											{% endif %}
											{% if item.department %}
												<div class="program_item_detail">
													<span class="program_item_detail_label">Career Cluster<span class="program_item_detail_label_hint">:</span>
													</span>
													<span class="program_item_detail_data">{{ item.department }}</span>
												</div>
											{% endif %}
											{% if item.mode %}
												<div class="program_item_detail">
													<span class="program_item_detail_label">Mode of Study<span class="program_item_detail_label_hint">:</span>
													</span>
													<span class="program_item_detail_data">
														{% for item in item.mode %}
															{{ item }}
															{% if not loop.last %},
															{% endif %}
														{% endfor %}
													</span>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
