<div class="testimonial theme-{{ theme }}">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					{{ icon('quote') }}
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>{{ quote }}</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">{{ name }}</div>
				{% if title %}
					<a class="testimonial_quote_title" href="#">{{ title }}</a>
				{% endif %}
			</div>
		</div>

		<div class="testimonial_media">
			{% render "@partial-background" with {
				class: "testimonial",
				image: image,
				sources: {
					'0px': img("portraitClassic").sml,
					'500px': img("portraitClassic").med
				}
			} %}
		</div>
	</div>
</div>
