<div class="testimonial theme-{{ theme }}">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					{{ icon('quote') }}
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>{{ quote }}</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">{{ name }}</div>
				{% if title %}
					<a class="testimonial_quote_title" href="#">{{ title }}</a>
				{% endif %}
			</div>
		</div>

		<div class="testimonial_media">
			{% render "@partial-image" with {
				class: 'testimonial',
				image: image,
				sources: [
					img("full").med,
					img("full").sml,
				]
			} %}

			{% render "@partial-background" with {
				class: "testimonial",
				image: image,
				sources: {
					'740px': img("portraitFull").med,
					'980px': img("portraitFull").lrg,
					'1220px': img("portraitFull").xlrg,
				}
			} %}
		</div>
	</div>
</div>
