{% if items|length % 4 == 0 %}
	{% set card_count = 4 %}
{% elseif items|length % 3 == 0 %}
	{% set card_count = 3 %}
{% else %}
	{% set card_count = 2 %}
{% endif %}

<!-- Card Group -->
<div class="card_group">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="card_group_header">
				<div class="card_group_header_inner">
					<h2 class="card_group_title">{{ title|title }}</h2>
					{% render "@partial-link" with {
						class: "card_group_header",
						title: "View All News",
						url: item.url,
						icon: "caret_right"
					} %}
				</div>
			</div>
			<div class="card_group_body">
				<ul class="card_group_items card_count_{{ card_count }}" {% if title %} aria-label="{{ title }}" {% endif %}>
					{% for item in items %}
						<li class="card_group_item">
							{% if item.image %}
							<figure class="card_group_item_figure">
								{% render "@partial-image" with {
                                    class: "card_group_item",
                                    alt: "",
                                    image: item.image,
                                    sources: [
                                        img("classic").sml,
                                        img("classic").xsml,
                                        img("classic").xxsml
                                    ]
                                } %}
							</figure>
							{% endif %}
							<div class="card_group_item_header">
								<h2 class="card_group_item_title">
									{% render "@partial-link" with {
										class: "card_group_item_title",
										title: item.title,
										url: item.url,
										icon: "caret_right"
									} %}
								</h2>
								{% if item.categories %}
								<div class="card_group_item_categories">
									<div class="card_group_item_category_hint">Categories</div>
										<ul class="card_group_item_category_list" aria-label="Categories">
											{% for category in item.categories %}
												<li class="card_group_item_category">
													<a class="card_group_item_category_link" href="{{ item.category_url }}">{{ category }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							</div>
							<div class="card_group_item_body">
								{% if item.description %}
									<div class="card_group_item_description">
										<p>{{ item.description }}</p>
									</div>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% render '@partial-link' with {
				title: "View all News",
				url: "#",
				class: "card_group_discovery",
				icon: "caret_right"
			} %}
		</div>
	</div>
</div>
<!-- END: Card Group -->
