<!-- Contact Details -->
<div class="contact_details_wrapper">
	{% if item.title %}
		<h3 class="contact_details_title">{{ item.title }}</h3>
	{% endif %}
	<div class="contact_details">
		{% if item.phone_numbers or item.email %}
			<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
				{% for phone in item.phone_numbers %}
					<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="{{ phone.type }}" href="tel:{{ tel(phone.number) }}">
							<span class="contact_detail_info_icon">{{ icon("phone") }}</span>
							<span class="contact_detail_info_label">{{ phone.number }}</span>
						</a>
					</div>
				{% endfor %}
				{% if item.email %}
					<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:{{ item.email }}" itemprop="email">
							<span class="contact_detail_info_icon">{{ icon("mail") }}</span>
							<span class="contact_detail_info_label">{{ item.email }}</span>
						</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
		{% if item.location %}
			<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">{{ item.location }}</div>
				</div>
			</div>
		{% endif %}
		{% if item.departments %}
			<div class="contact_detail">
				<div class="contact_detail_label">Department</div>
				{% for department in item.departments %}
					<div class="contact_detail_item">
						<a class="contact_detail_info" href="{{ department.url }}">{{ department.name }}</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if item.office_hours %}
			<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
				{% for office_hours in item.office_hours %}
					<div class="contact_detail_item">
						<div class="contact_detail_hint">{{ office_hours.label }}</div>
						<div class="contact_detail_info">{{ office_hours.hours }}</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if item.social_links %}
			<div class="contact_detail">
				<div class="contact_detail_label">Social Media</div>
				<ul class="contact_socials" aria-label="Social Links for {{ item.name }}">
					{% for social in item.social_links %}
						<li class="contact_social">
							<a class="contact_social_link" href="{{ social.url }}" aria-label="{{ item.name }} {{ social.title }}" itemprop="sameAs">
								<span class="contact_social_link_label">{{ social.title }}</span>
								<span class="contact_social_link_icon">{{ icon("caret_right") }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
	<!-- END: Contact Details -->
</div>
