{%
	set carousel_options = {
		contained: false
	}
%}

{% if title %}
	{%
		set carousel_options = carousel_options|merge({
			labels: {
				controls: title|replace({"'": "&#39;"}) ~ " carousel controls",
				pagination: title|replace({"'": "&#39;"}) ~ " carousel pagination"
			}
		})
	%}
{% endif %}

{% set carousel_options = carousel_options|json_encode %}

<!-- Gallery -->
<div class="gallery">
	<div class="fs-row">
		<div class="fs-cell {{ cell }}">
			<div class="gallery_inner">
				{% if title or description %}
					<div class="gallery_header">
						{% if title %}
							<h2 class="gallery_title">{{ title }}</h2>
						{% endif %}
						{% if description %}
							<div class="gallery_description">
								<p>{{ description }}</p>
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="gallery_body">
					<div class="js-carousel gallery_items" role="region" aria-label="{{ title|e('html_attr') }} Gallery" tabindex="0" data-carousel-options='{{ carousel_options }}'>
						{% for item in items %}
							<div class="gallery_item{% if item.caption is empty %} no_caption{% endif %}">
								<figure class="gallery_item_figure" {% if item.caption %} aria-label="{{ item.caption|striptags }}" {% endif %}>
									<span class="gallery_item_media">
										{% render "@partial-image" with {
                                            class: "gallery_item",
                                            alt: "",
                                            itemprop: "",
                                            image: item.image,
                                            sources: [
                                                img.wide.lrg,
                                                img.wide.med,
                                                img.wide.sml,
                                                img.wide.xsml,
                                                img.wide.xxsml
                                            ]
                                        } %}
										{% if item.video %}
											<a class="js-video-appender gallery_item_link" href="{{ item.video }}" target="_blank">
												<span class="gallery_item_link_inner">
													<span class="gallery_item_link_icon">{{ icon("play") }}</span>
													<span class="gallery_item_link_label">Play</span>
												</span>
											</a>
										{% endif %}
									</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">{{ loop.index }}</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">{{ loop.length }}</span>
										</span>
										{% if item.caption %}
											<p class="gallery_item_caption">{{ item.caption }}</p>
										{% endif %}
									</figcaption>
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Gallery -->
