<div class="featured_events">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="featured_events_inner">
				<div class="featured_events_header">
					<h2 class="featured_events_title">{{ title }}</h2>
				</div>
				<div class="featured_events_body">
					<div class="js-carousel featured_events_items" data-carousel-options='{
						"theme": "theme_dark",
						"controls": false,
						"contained": false,
						"maxWidth": "979px",
						"show": {
							"500px": 2,
							"740px": 3
						}
					}'>
						{% for item in items %}
						<div class="featured_events_item">
							<time class="featured_events_item_date" datetime="{{ item.date.from.begin }}">
								<span class="featured_events_item_date_flag featured_events_item_date_flag_from">
									<span class="featured_events_item_date_start_month">{{ item.date.from.begin|date("M") }}</span>
									<span class="featured_events_item_date_start_day">{{ item.date.from.begin|date("d") }}</span>
								</span>
								{% if item.date.to %}
								<span class="featured_events_item_date_flag featured_events_item_date_flag_to">
									<span class="featured_events_item_date_start_month">{{ item.date.to.begin|date("M") }}</span>
									<span class="featured_events_item_date_start_day">{{ item.date.to.begin|date("d") }}</span>
								</span>
								{% endif %}
							</time>
							<div class="featured_events_item_body">
								<h3 class="featured_events_item_title">{{ item.title }}</h3>
								<div class="featured_events_item_details">
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">{{ icon("place") }}</span>
										<span class="featured_events_item_detail_label">{{ item.location }}</span>
									</div>
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">{{ icon("clock") }}</span>
										<time class="featured_events_item_detail_label" datetime="">{{ item.time }}</time>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% render '@partial-link' with {
					title: "View all News & Stories",
					url: "#",
					class: "featured_events_discovery",
					icon: "caret_right"
				} %}
			</div>
		</div>
	</div>
</div>
