{#
	{% include partial("button") with {
		title: "Button Text",
		class: "",
		js: false,
		icon: "",
		aria: ""
	} %}
#}

<button class="{{ class }}_button{% if js %} js-{{ class|replace({ "_": "-"}) }}-button{% endif %}"{% if aria %} aria-label="{{ aria }}"{% endif %}>
	<span class="{{ class }}_button_inner">
		<span class="{{ class }}_button_label">{{ title }}</span>
		{% if icon %}
		<span class="{{ class }}_button_icon" aria-hidden="true"><span class="{{ class }}_button_icon_inner"><span class="{{ class }}_button_icon_space">&#xfeff;</span><svg class="icon icon_{{ icon }}"><use xlink:href="../images/icons.svg#{{ icon }}"></use></svg></span></span>
		{% endif %}
	</span>
</button>