{#
	{% include partial("entity-item") with {
		item: item,
		itemtype: itemtype
	} %}
#}

<!-- Entity Item -->
<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="{{ item.url }}">{{ item.name }}</a>
			</h2>
			{% if item.title %}
			<div class="entity_title">{{ item.title }}</div>
			{% endif %}
		</div>
		{% if item.image %}
		<figure class="entity_figure">
			{% include partial("image") with {
				class: "entity",
				alt: "",
				image: item.image,
				sources: [
					img.square.xxsml,
					img.square.thumb
				]
			} %}
		</figure>
		{% endif %}
	</div>
	<div class="entity_body">
		<div class="entity_details">
			{% if item.contact %}
			<div class="entity_detail">
				{% if item.contact.phone or item.contact.email %}
				<div class="entity_detail_label">Contact</div>
				{% endif %}
				{% if item.contact.phone %}
				<div class="entity_detail_item">
					<div class="entity_detail_hint">Phone: </div>
					<a class="entity_detail_info entity_detail_link" href="tel:{{ tel(item.contact.phone) }}">
						<span class="entity_detail_info_label">{{ item.contact.phone }}</span>
					</a>
				</div>
				{% endif %}
				{% if item.contact.email %}
				<div class="entity_detail_item">
					<div class="entity_detail_hint">Email: </div>
					<a class="entity_detail_info entity_detail_link" href="mailto:{{ item.contact.email }}">
						<span class="entity_detail_info_label">{{ item.contact.email }}</span>
					</a>
				</div>
				{% endif %}
			</div>
			{% endif %}
			{% if item.department %}
			<div class="entity_detail">
				<div class="entity_detail_label">Department</div>
				<div class="entity_detail_item">
					<a class="entity_detail_info entity_detail_link" href="{{ item.department_url }}">
						<span class="entity_detail_info_label">{{ item.department }}</span>
					</a>
				</div>
			</div>
			{% endif %}
			{% if item.location %}
			<div class="entity_detail">
				<div class="entity_detail_label">Location</div>
				<div class="entity_detail_item">
					<div class="entity_detail_info">
						<span class="entity_detail_info_label">{{ item.location }}</span>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<!-- END: Etity Item -->