{#
	{% include partial("news-item") with {
		item: item
	} %}
#}

<!-- News Item -->
<div class="news_item">
	{% if item.image %}
	<figure class="news_item_figure">
		{% if item.url %}
		<a class="news_item_figure_link" href="{{ item.url }}" aria-label="Read more about {{ item.title }}" tabindex="-1">
		{% endif %}
			{% include partial("image") with {
				class: "news_item",
				alt: "",
				image: item.image,
				sources: [
					img.classic.med,
					img.classic.sml,
					img.classic.xsml,
					img.classic.xxsml
				]
			} %}
		{% if item.url %}
		</a>
		{% endif %}
	</figure>
	{% endif %}
	<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
				{% if item.url %}
					{% include partial("link") with {
						class: "news_item_title",
						title: item.title,
						url: item.url
					} %}
				{% else %}
					{{ item.title }}
				{% endif %}
			</h2>
			{% if item.categories %}
			<div class="news_item_categories">
				<div class="news_item_category_hint">Categories</div>
				<ul class="news_item_category_list" aria-label="Categories">
					{% for category in item.categories %}
					<li class="news_item_category">
						<a class="news_item_category_link" href="{{ item.category_url }}">{{ category }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="news_item_body">
			{% if item.date or item.author %}
			{% include partial("news-details") with {
				item: item
			} %}
			{% endif %}
			{% if item.description %}
			<div class="news_item_description">
				<p>{{ item.description }}</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<!-- END: News Item -->