{#
	{% include partial("picture") with {
		class: "media",
		alt: "",
		itemprop: "",
		image: item.image,
		default: img.wide.xsml,
		sources: {
			"1220px": img.wide.med,
			"500px": img.wide.sml
		}
	} %}
#}

<span class="lazy_image_wrapper {{ class }}_image_wrapper">
	<picture class="{{ class }}_picture">
		{% for key, source in sources %}
		<source media="(min-width: {{ key }})" srcset="../images/placeholder.png" data-srcset="{% if source == "placeholder" %}../images/placeholder.png{% else %}//images.fastspot.com/{{ config.images }}/{{ source.width }}x{{ source.height }}/{{ image }}{% endif %}">
		{% endfor %}
		<img class="js-lazy js-lazyload {{ class }}_image" src="../images/placeholder.png" data-src="//images.fastspot.com/{{ config.images }}/{{ default.width }}x{{ default.height }}/{{ image }}" alt="{{ alt }}"{% if itemprop %} itemprop="{{ itemprop }}"{% endif %}>
	</picture>
</span>
<noscript>
	<picture class="{{ class }}_picture">
		{% for key, source in sources %}
		<source media="(min-width: {{ key }})" srcset="//images.fastspot.com/{{ config.images }}/{{ source.width }}x{{ source.height }}/{{ image }}">
		{% endfor %}
		<img class="{{ class }}_image" src="//images.fastspot.com/{{ config.images }}/{{ default.width }}x{{ default.height }}/{{ image }}" alt="{{ alt }}"{% if itemprop %} itemprop="{{ itemprop }}"{% endif %}>
	</picture>
</noscript>