<!-- Event Item -->
<div class="event_item">
	{% if item.image %}
		<figure class="event_figure">
			{% if item.url %}
				<a class="event_figure_link" href="{{ item.url }}" aria-label="Read more about {{ item.title }}" tabindex="-1">
				{% endif %}
				{% render "@partial-image" with {
                    class: "event",
                    alt: "",
                    image: item.image,
                    sources: [
                        img.classic.med,
                        img.classic.sml,
                        img.classic.xsml,
                        img.classic.xxsml
                    ]
                } %}
				{% if item.url %}
				</a>
			{% endif %}
		</figure>
	{% endif %}
	<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
				{% if item.url %}
					{% render "@partial-link" with {
						class: "event_title",
						title: item.title,
						url: item.url
					} %}
				{% else %}
					{{ item.title }}
				{% endif %}
			</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="{{ item.date.from.begin }}">
					<span class="event_time_start">{{ item.date.from.begin|date("M d") }}</span>
					{% if item.date.to %}
						<span class="event_time_end">
							-
							{{ item.date.to.begin|date("M d") }}</span>
					{% endif %}
				</time>
			</div>
		</div>
		<div class="event_body">
			{% if item.description %}
				<div class="event_description">
					<p>{{ item.description }}</p>
				</div>
			{% endif %}
			{% render "@partial-event-details" with {
				item: item
			} %}
		</div>
	</div>
</div>
<!-- END: Event Item -->
